.tubslider {
    &__header {
        text-align: center;

        p {
            display: inline-block;
            margin-bottom: 95px;
        }
    }

    .tubslider__manage {
        margin: 0 auto;
        width: 837px;

        .tubslider__manage-mainline {
            position: relative;
            width: 837px;
            border-top: 1px #C0C2C3 solid;
        }

        .tubslider__manage-button {
            margin-top: -27px;
            margin-bottom: 20px;

            .tubslider__manage-button-container {
                position: relative;
            }

            .tubslider__manage-button-circle {
                height: 44px;
                width: 44px;
                border-radius: 50%;
                background-color: #C0C2C3;
                border: 6px rgba(255, 255, 255, 0.7) solid;
            }

            .tubslider__manage-button-number {
                position: absolute;
                display: inline-block;
                font-family: "Open Sans" sans-serif;
                font-weight: 500;
                font-size: 24px;
                line-height: 110%;
                color: #F6F6F6;
                top: 16px;
                left: 22px;
            }

            .tubslider__manage-button-text {
                position: absolute;
                left: 50%;
                font-weight: 500;
                font-size: 16px;
                line-height: 163%;
                color: #9E9E9E;
            }

            .active.tubslider__manage-button-container {
                .tubslider__manage-button-color-line {
                    width: 134px;
                    border-top: 2px solid #4268B2;
                    position: absolute;
                    top: 26px;
                    left: -40px;
                }

                .tubslider__manage-button-circle {
                    background-color: #4268B2;
                    border: 6px rgba(255, 255, 255, 0.7) solid;
                }
            }

            .active.tubslider__manage-button-container:last-child {
                .tubslider__manage-button-color-line {
                    width: 67px;
                    left: -40px;
                }
            }

            .active.tubslider__manage-button-container:first-child {
                .tubslider__manage-button-color-line {
                    width: 67px;
                    left: 27px;
                }
            }

            .tubslider__manage-button-text {
                position: absolute;
                top: 70px;
                left: -55px;
                width: 200px;
                font-weight: 500;
                font-size: 16px;
                line-height: 164%;
                color: #9E9E9E;
            }
        }
    }

    .tubslider__info {
        margin-top: 97px;
        margin-left: auto;
        margin-right: auto;
        justify-content: start;
        align-items: flex-start;
        @include slide-box(893px, 170%);
        padding: 32px 67px 46px 86px;

        .text2 {
            display: none;
        }

        .text3 {
            display: none;
        }

        .tubslider__info-text-header {
            font-weight: 600;
            font-size: 30px;
            line-height: 129%;
            margin-bottom: 14px;
        }

        .tubslider__info-icon {
            margin-right: 178px;
        }
    }
}

@media (max-width: 1100px) {
    .tubslider {
        .tubslider__manage-button-container {
            .tubslider__manage-button-text {
                display: none;
            }
        }
    }
}


@media (max-width: 880px) {
    .tubslider {
        .tubslider__manage {
            width: 90%;

            .tubslider__manage-mainline {
                width: 100%;
            }
        }

        .tubslider__info {
            .tubslider__info-icon {
                margin-right: 30px;

                img {
                    width: 115px;
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .tubslider {
        .tubslider__info {
            .tubslider__info-icon {
                img {
                    display: none;
                }
            }
        }
    }
}