.slider-rev {
    position: relative;

    .slider-rev__manage {
        position: absolute;
        width: 330px;
        font-weight: 600;
        font-size: 46px;
        line-height: 116%;
        top: 19px;
    }
}

.slider-rev__body-container {
    position: relative;
    margin-top: 20px;
    margin-left: 374px;
    width: 1174px;
    padding-right: 10px;

    .slide>div {
        @include slide-box(309px, 141%);
        padding: 30px;
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 50px;

        .slide__raiting {
            margin-bottom: 12px;
            margin-left: -5px;
        }

        .rating-star {
            height: 20px;
            width: 20px;
        }

        .slide__text {
            margin-bottom: 38px;
        }

        .slide__rev-info {
            .slide__rev-info-foto {
                float: left
            }

            .slide__rev-info-name {
                padding-top: 8px;
                padding-left: 88px;
                font-weight: 600;
                font-size: 20px;
                line-height: 100%;
                color: #263238;

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 146%;
                    margin-top: 5px;
                    color: #C0C2C3
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #2155CF;
        border-radius: 50%;
        z-index: 2;
        top: 237px;

        img {
            position: absolute;
            width: 13px;
            top: 10px;
        }
    }

    .next {
        left: -310px;

        img {
            left: 15px;
        }
    }

    .prev {
        left: -371px;

        img {
            left: 14px;
        }
    }

    .slick-slide {
        padding: 20px 15px;
        width: 356px;
    }
}

@media (max-width: 1580px) {
    .slider-rev {
        .slider-rev__manage {
            width: 330px;
            top: -107px;
        }

        .slider-rev__body-container {
            margin: 0 auto;
            margin-top: 66px;
            width: 998px;
            padding-right: 0;
        }

        .slick-arrow {
            top: 378px;
        }

        .next {
            left: 109px;
        }

        .prev {
            left: 32px;
        }
    }
}