.contact__bunner-wrapper {
    padding-top: 90px;
    padding-bottom: 94px;
    background-color: #fff;
}

.contact__footer-wrapper {
    background-color: #F1F8FE;
    padding-top: 73px;
}

@import "contactUs.scss";