.benefits__header {
    text-align: center;
    margin-top: 75px;
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    margin-bottom: 53px;
}

.benefits__items {
    justify-items: flex-start;
    justify-content: start;
    padding-bottom: 90px;

    .square {
        height: 80px;
        width: 80px;
        border-radius: 8px;
        border: 1px #D7E1E9 solid;
        margin-right: 15px;
        position: relative;
    }

    a {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #1A1B20
    }

    .benefits__item-money {
        margin-right: 65px;
    }

    .benefits__item-time {
        margin-right: 109px;
    }

    .benefits__item-secure {
        margin-right: 92px;
    }

    .square::before {
        font-family: 'icomoon';
        font-weight: 400;
        font-size: 48px;
        margin-right: 7px;
        color: #2155CF;
        position: absolute;
        top: 15px;
        left: 21px;
    }

    .benefits__item-money .square::before {
        content: "\e906";
    }

    .benefits__item-time .square::before {
        content: "\e90a";
        font-size: 40px;
    }

    .benefits__item-secure .square::before {
        content: "\e903";
    }

    .benefits__item-home .square::before {
        content: "\e909";
        font-size: 40px;
    }
}

@media (max-width: 1260px) {
    .benefits__items {
        display: block;

        &>div {
            justify-content: start;
            justify-items: flex-start;
            margin-left: 5%;
            margin-top: 20px;

            a {
                font-size: 28px;
            }
        }
    }
}