.form__wrapper {
    padding-top: 49px;
    padding-bottom: 30px;
    background-color: #F1F6FE;
}

.form {
    @include slide-box(1008px, 163%);
    margin: 0 auto;
    padding: 42px 25px 48px 31px;

    .form__header {
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 68px;
    }

    input,
    select {
        border: 1px #DEE5EC solid;
        border-radius: 10px;
    }

    p {
        position: absolute;
        font-weight: 600;
        font-size: 16px;
    }

    &__travel {
        justify-content: start;
        align-items: flex-start;
        padding-bottom: 27px;

        &>div {
            position: relative;
        }

        p {
            top: -33px;
        }

        label {
            font-size: 14px;
            color: #8D94A4;
            margin-left: 31px;
        }

        &-direction {
            input {
                height: 38px;
                width: 546px;
                margin-bottom: 6px;
                position: relative;
            }

            p {
                left: -3px;
            }

            .example {
                font-size: 14px;
                color: #8D94A4;

                a {
                    color: #2155CF;
                    margin-left: 2px;
                }

                a:last-child {
                    margin-left: 10px;
                }
            }
        }

        &-date {
            .crutch {
                width: 29px;
                height: 26px;
                background-color: #fff;
                position: absolute;
                top: 8px;
                right: 4px;
                z-index: 1;
                pointer-events: none
            }

            input {
                height: 40px;
                width: 153px;
                font-size: 16px;
                line-height: 100%;
                padding-left: 15px;
            }

            img {
                position: absolute;
                top: 17px;
                right: 15px;
                pointer-events: none;
                z-index: 2;
            }
        }

        &-date>input::-webkit-calendar-picker-indicator {
            opacity: 0;
            margin-right: 15px;
        }

        .from>p {
            left: 25px;
        }

        .to>p {
            right: -11px;
            font-weight: 500;
            color: #2155CF;
        }
    }

    &__data-header {
        text-align: center;
        font-size: 22px;
        line-height: 100%;
        font-weight: 600;
        margin-bottom: 21px;
    }

    .form__tourist {
        margin-bottom: 21px;

        &-form {
            border: 1px #DEE5EC solid;
            background-color: #F8FBFE;
            border-radius: 10px;
            padding: 20px 30px 31px 22px;
            position: relative;
        }

        &-form>p {
            position: relative;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            color: #94A1AF;
            text-transform: uppercase;
            margin-bottom: 35px;
        }

        &-form>div {
            align-items: flex-start;

            div {
                position: relative;
            }

            .birfday-date {
                input {
                    width: 200px;
                    height: 44px;
                }
            }

            .reason {
                select {
                    width: 721px;
                    height: 46px;
                    background-color: #fff;
                    font-size: 16px;
                    line-height: 100%;
                    color: #263238;
                    padding-left: 13px;
                }
            }

            p {
                top: -30px;
            }
        }
    }

    .form__add {
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        margin-bottom: 25px;

        &-img {
            height: 32px;
            width: 32px;
            background-color: #2155CF;
            position: relative;
            border-radius: 50%;
            display: inline-block;
            margin-top: 10px;

            img {
                position: absolute;
                left: 10px;
                top: 9px;
            }
        }

        a {
            font-size: 16px;
            line-height: 100%;
            margin-top: 10px;
            margin-left: 10px;
        }
    }


    .form__button {
        background-color: #FF9504;
        width: 410px;
        margin: 0 auto;

        a {
            padding: 22px 0px;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 1100px) {
    .form {
        width: 90%;

        .form__travel {
            display: block;
            padding-bottom: 46px;

            .form__travel-direction {
                position: relative;

                input {
                    width: calc(66% + 45px);
                    margin-left: 31px;
                    margin-bottom: 11px;
                }

                p {
                    left: 28px;
                }

                .example {
                    margin-bottom: 30px;
                    margin-left: 5%;
                }
            }

            .from {
                input {
                    width: 32%;
                }
            }

            .to {
                input {
                    width: 32%;
                }
            }

            .form__travel-date {
                display: inline;

                .crutch {
                    top: 0px;
                    right: 6px;
                }

                label {
                    margin-left: 1%;
                }

                img {
                    top: 8px;
                }
            }
        }

        .form__tourist {
            .form__tourist-form {
                .reason {
                    width: 70%;

                    select {
                        width: 100%;
                    }
                }

                .birfday-date {

                    width: 25%;
                    margin-right: 5%;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .form__tourist-form {
        .flex-container {
            &>div {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}