@import "form.scss";
@import "benefits.scss";
@import "docs.scss";

.tourism__tubSlider-wrapper {
    padding-top: 110px;
    padding-bottom: 151px;
}

.tourism__slider-wrapper {
    padding-bottom: 82px
}

.tourism__accordeon-wrapper {
    padding-bottom: 100px
}

.tourism__bunner-wrapper {
    padding-bottom: 83px
}