.footer {
    &__logo {
        text-align: center;
        margin-bottom: 60px;
    }

    &__menu {
        margin-bottom: 50px;

        .menu__button {
            display: none;
        }
    }

    ul {
        max-width: 870px;
        margin: 0 auto;

        li {
            a {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.7px;
                margin-top: 75px;
                font-size: 16px;
                font-family: "Proxima Nova";
            }
        }
    }

    &__data {
        margin-top: 44px;
        margin-bottom: 44px;
        font-size: 14px;

        .copiright {
            line-height: 140%;
            opacity: 80%;
        }

        .contacts {
            padding-left: 99px;
            line-height: 100%;

            p {
                font-size: 18px;
            }

            .email {
                p {
                    margin-right: 35px;
                }

                p:before {
                    font-family: 'icomoon';
                    font-weight: 400;
                    font-size: 12px;
                    margin-right: 7px;
                    content: "\e907";
                    color: #a0abc1;
                }
            }

            .phone {
                p:before {
                    font-family: 'icomoon';
                    font-weight: 400;
                    font-size: 14px;
                    margin-right: 9px;
                    content: "\e90b";
                    color: #a0abc1;
                }
            }
        }

        .artjoker {
            padding-top: 5px;

            p {
                font-size: 14px;
                line-height: 164%;
                opacity: 90%;
                margin-left: 5px;
            }

            img {
                margin-left: 5px;
            }
        }
    }
}

@media (max-width: 990px) {
    .footer__data {
        .contacts {
            display: block;

            .phone {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 920px) {
    .footer__menu {
        margin-bottom: 0;

        .menu__list {
            display: block;

            li {
                border: 1px solid #D7E1E9;
                text-transform: uppercase;
                text-align: center;
                margin-left: 0;
                padding-left: 50px;
                padding-right: 50px;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    margin-top: 0;
                    padding: 10px 0px;
                }
            }

            li:first-child {
                border-radius: 10px 10px 0px 0px;
            }

            li:last-child {
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
}

@media (max-width: 880px) {
    .footer {
        .footer__data {
            text-align: center;
            display: block;
            position: relative;

            .contacts {
                position: absolute;
                top: -82px;
                left: 38%;
                padding-left: 0;
                text-align: center;

                p {
                    margin: 0;
                }
            }

            .copiright {
                margin-top: 150px;
            }

            .artjoker {
                display: flex;
                padding-top: 10px;
                width: 287px;
                margin: 0 auto;
            }
        }
    }
}