.accordeon__block-header {
    font-weight: 600;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.accordeon__block {
    width: 1270px;
    margin: 0 auto;

    .accordeon {
        @include slide-box(100%, 170%);
        margin-top: 50px;
        padding-right: 100px;

        &__item {
            padding-left: 38px;
        }

        &__item-header {
            position: relative;
            padding-top: 38px;
            padding-bottom: 36px;
            font-weight: 600;
            font-size: 22px;
            line-height: 100%;
            color: #1A1B20;
            border-bottom: 1px #D7E1E9 solid;

            .circle {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 1px #D7E1E9 solid;
                position: absolute;
                right: -61px;
                top: 31px;

                img {
                    position: absolute;
                    top: 13px;
                    left: 6px;
                }
            }
        }

        &__body {
            display: none;
            padding-bottom: 20px;

            &-text {
                opacity: 80%;
                color: #000000;
                padding-top: 34px;
                margin-bottom: 24px;
            }

            p {
                position: relative;
                font-weight: 500;
                line-height: 110%;
                color: #263238;
                font-size: 18px;
                margin-bottom: 16px;
                margin-left: 33px;
                letter-spacing: 1px;

                img {
                    position: absolute;
                    left: -30px;
                }
            }
        }
    }
}

.visible {
    background-color: #F8FBFE;
    border-left: 4px #2155CF solid;

    .accordeon__item-header {
        color: #2155CF;

        .circle {
            background-color: #2155CF;

            img {
                top: 9px;
                left: 9px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .accordeon__block {
        width: 96%;
    }
}