.about__tubSlider-wrapper {
    padding-top: 92px;
    padding-bottom: 100px;
    background-color: #F8FBFE;
}

.about__slider-wrapper {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 87px;
}

.about__accordeon-wrapper {
    background-color: #fff;
    padding-bottom: 95px;
}

.about__bunner-wrapper {
    background-color: #fff;
    padding-bottom: 86px;
}

.about__footer-wrapper {
    padding-top: 75px;
}

@import "aboutUs.scss";
@import "services.scss";