@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-Star:before {
    content: "\e901";
    color: #f7941e;
}

._icon-protectWhite:before {
    content: "\e902";
    color: #f1f8fe;
}

._icon-protect:before {
    content: "\e903";
    color: #2155cf;
}

._icon-plus:before {
    content: "\e904";
    color: #fff;
}

._icon-pencil:before {
    content: "\e905";
    color: #2155cf;
}

._icon-money:before {
    content: "\e906";
    color: #2155cf;
}

._icon-mail:before {
    content: "\e907";
    color: #a0abc1;
}

._icon-logo:before {
    content: "\e908";
}

._icon-home:before {
    content: "\e909";
    color: #2155cf;
}

._icon-clock:before {
    content: "\e90a";
    color: #2155cf;
}

._icon-call:before {
    content: "\e90b";
    color: #a0abc1;
}

._icon-ctrl:before {
    content: "\ea50";
}